<h1>{{ title }}</h1>
<p>{{ body }}</p>

<ul>
{{#each users}}
    <li>{{ id }}: {{ firstName }} {{ lastName }}</li>
{{/each }}
</ul>

<form action="/api/user/1?_method=DELETE" method="post">
    {{!-- <label for="first-name">First name:</label>
    <input type="text" name="last-name" id="first-name">

    <label for="last-name">Last name:</label>
    <input type="text" name="last-name" id="last-name"> --}}

    <button>DELEETE</button>
</form>